/************** EXERCISE **************/
  /* Make a horizontal Colombian flag 
  with divs using relative positioning. */

.top-container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.middle-container {
    width: 200px;
    height: 200px; 
    background-color: blue;
}

.bot-container {
    width: 200px;
    height: 200px; 
    background-color: yellow;
}

/************** SOLUTION **************/

/* A whitespace appears between boxes,
don't suffer because of this ;) */

/* .top-container {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: inline-block;
    position: relative;
    left: 400px;
}

.middle-container {
    width: 200px;
    height: 200px; 
    background-color: red;
    display: inline-block;
    position: relative;
    left: 400px;
}

.bot-container {
    width: 400px;
    height: 200px; 
    background-color: yellow;
    display: inline-block;
    position: relative;
    right: 400px;
} */